#date-input {
    width: 46%;
    display: inline;
}

#submit-button {
    padding: 0;
    margin-top: 45px;
}

.email-center {
    display: inline !important;
    width: 50% !important;
}
.subcribe-form {
    margin: 0 3em;
}


@media (min-width:1800px) {
    label, input {
        width: 100%;
    }
    #date-input {
        margin-bottom: 1em;
        width: 23%;
    }
}
