

.menu li {
    list-style-type: none;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.wrapper.style5 {
    padding-top: 40px ;
}

@media only screen and (max-width: 530px) {
    section.wrapper {
        padding: 2em 0.5em 1em 0.5em;
    }
}