<section>
  <h4>Make a reservation</h4>
  <form method="post" action="https://formspree.io/xdokwkgb">
    <div class="row uniform">
      <!-- NAME -->
      <div class="6u 12u$(xsmall)">
        <input type="text" name="name" id="name" value="" placeholder="Name" />
      </div>
      <!-- EMAIL -->
      <div class="6u$ 12u$(xsmall)">
        <input type="email" name="email" id="email" value="" placeholder="Email" />
      </div>
      <!-- DATE -->
      <div class="6u 12u$(xsmall)">
        <input type="date" name="date" id="date" value="" placeholder="Date" />
      </div>
      <!-- TIME -->
      <div class="6u 12u$(xsmall)">
        <input type="text" name="time" id="time" value="" placeholder="Time block (e.g. 10:00am - 12:30pm)" />
      </div>
      <!-- GROUP SIZE -->
      <div class="12u$">
        <div class="select-wrapper">
          <select name="demo-category" id="demo-category">
            <option value="">- Group size -</option>
            <option value="1">5 - 10 people</option>
            <option value="1">11 - 14 people</option>
            <option value="1">15 - 20 people</option>
            <option value="1">25 (maximum capacity)</option>
          </select>
        </div>
      </div>
      <!-- <div class="4u 12u$(small)">
        <input type="radio" id="demo-priority-low" name="demo-priority" checked>
        <label for="demo-priority-low">Low</label>
      </div>
      <div class="4u 12u$(small)">
        <input type="radio" id="demo-priority-normal" name="demo-priority">
        <label for="demo-priority-normal">Normal</label>
      </div>
      <div class="4u$ 12u$(small)">
        <input type="radio" id="demo-priority-high" name="demo-priority">
        <label for="demo-priority-high">High</label>
      </div> -->
      <!-- EMAIL COPY CHECKBOX -->
      <div class="6u 12u$(small)">
        <input type="checkbox" id="copy" name="copy">
        <label for="copy">Email me a copy</label>
      </div>
      <!-- INFO MESSAGE -->
      <div class="12u$">
        <textarea name="message" id="message" placeholder="Please provide a brief description and any special requests" rows="6"></textarea>
      </div>
      <!-- SUBMIT BUTTON -->
      <div class="12u$">
        <ul class="actions">
          <li><input type="submit" value="Submit reservation" class="special" /></li>
        </ul>
      </div>
    </div>
  </form>
</section>