<!-- One -->
<section id="one" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h2>Are you a person who just wanna relax<br />
      and do your own thing?</h2>
      <p>Our cafe is the best place for that, soothing music<br />
      and good cofee. Have a seat and enjoy.</p>
    </header>
    <ul class="icons major">
      <li><span class="icon fa-coffee major style1"><span class="label">Lorem</span></span></li>
      <li><span class="icon fa-code major style2"><span class="label">Ipsum</span></span></li>
      <li><span class="icon fa-heart solid major style3"><span class="label">Dolor</span></span></li>
    </ul>
  </div>
</section>