---
layout: page
---
<article id="main">

  <section class="wrapper style5">
    <div class="inner">
      <div class="menu">
        <div class="coffee">
          <h3> COFFEE </h3>
          <ul>
            <li><img src="/images/blackcake.png" alt="black cake"></li>
            <li><img src="/images/blackcoffee.png" alt="black coffee"></li>
            <li><img src="/images/espresso.png" alt="espresso"></li>
          </ul>
          <ul>
            <li><img src="/images/brouniemocha.png" alt="brouniemocha"></li>
            <li><img src="/images/latte.png" alt="latte"></li>
            <li><img src="/images/macchiato.png" alt="macchiato"></li>
          </ul>
        </div>
        <div class="pastries">
            <h3> PASTRIES </h3>
            <ul>
              <li><img src="/images/chocolatecake.png" alt="chocolatecake"></li>
              <li><img src="/images/cupcake.png" alt="cupcake"></li>
              <li><img src="/images/macaron.png" alt="macaron"></li>
            </ul>
          </div>
        </div>
      </div>
  </section>

</article>
